<!-- THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
     IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
     FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
     COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
     IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
     CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <h1 type="text" disabled="disabled">{{ vm.dirnameToDisplay }}</h1>
    <span ng-show="vm.alertNoImg" class="ng-show">Aucune image dans ce dossier</span>
    <img src="spinner.gif" ng-show="vm.spinner" class="ng-show" width="16">
</header>

<div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2">
        <ul>
            <li ng-repeat="dir in vm.dirlist"><a href="#/show?dir={{dir}}">{{dir}}</a></li>
        </ul>
    </div>

    <div ng-if="vm.imgToDisplay != null" class="col-md-10 col-sm-10 col-xs-10">
        <div class="col-md-10 col-sm-10 col-xs-10" class="pagination">
            <nav>
                <ul class="pager">
                    <li class="previous"><a ng-click="vm.showPrevImg()" class="showPrev" ng-show="vm.showPrevButton" ng-model="vm.prev"><span aria-hidden="true">&larr;</span></a></li>
                    <span class="badge">{{vm.currentImgIndex+1}}/{{vm.howManyImgInDir}}</span>
                    <li class="next"><a ng-click="vm.showNextImg()" class="next showNext" ng-show="vm.showNextButton" ng-model="vm.next"><span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="image" >
                <img ng-src="{{vm.dirnameToDisplay}}/{{vm.imgToDisplay}}" class="img-responsive" imageonload>
            </div>
            </div>
    </div>
</div>
